*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    
}

#btn-container{
    padding: 20px; 
    display: flex; 
    justify-content:space-evenly; 
    background: seagreen; 
    
}

.btn{
   width: 100%;
   padding: 20px; 
}


#levelDisplay{
    display: flex; 
    justify-content: center; 
    padding-top: 20px; 
    font-size: large;
}

#theImg{
    display: flex; 
    justify-content: center; 
    
}

#myBtn{
    width: 50%; 
}


#display{
    font-size: 30px; 
    padding-bottom: 20px;  
}